.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

}


.App-header {
  background-color: #282c34;
  width:100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  min-height: 62.6399vh;
  width:100%;
  color: #282c34;
  
}
.location
{
  padding:1rem;
  
}
.col-md-12{
  width:100%;
}
.col-md-3{
margin: .5rem;
}
.card{
  width:100%;
  height:10rem;
  
}
.card-title > span{
  font-size:10rem;
  font-weight:bold;
}

footer {
  background-color: #282c34;
  padding: 2px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EEEEEE;
  font-size: small;
  text-align: center;
}
